# Prerequisites
*.d

# Project context files
*.user
*.filters

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# build files
*.tlog
*.lastbuildstate
*.log
*.iobj
*.recipe
*.FileListAbsolute.txt

# specific libs
InternalLib/*

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/Scheduler/FileContentIndex/f5341f09-8aea-4859-bede-ce9f191fc64a.vsidx
/.vs/Scheduler/FileContentIndex/b475dc66-163a-40fd-95cb-9d19bdc50d6b.vsidx
/.vs/Scheduler/FileContentIndex/40c73dff-d6eb-4a97-87b6-9ae03a5f4e31.vsidx
/.vs/Scheduler/v18/ipch/AutoPCH/c60edc432e602f98/SCHEDULERTEST21.ipch
/.vs/Scheduler/v18/ipch/AutoPCH/2d05b6e5d5edae61/SCHEDULER.ipch
/.vs/Scheduler/v18/.suo
/.vs/Scheduler/v18/Browse.VC.db
/.vs/Scheduler/v18/Browse.VC.db-shm
/.vs/Scheduler/FileContentIndex/d872bc36-153e-4fd2-abc9-5ae3d3b0447d.vsidx
/.vs/Scheduler/FileContentIndex/22d5cc02-fb27-440e-b5a6-417ef790b816.vsidx
