# Prerequisites
*.d

# Project context files
*.user
*.filters

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# build files
*.tlog
*.lastbuildstate
*.log
*.iobj
*.recipe
*.FileListAbsolute.txt

# specific libs
InternalLib/*

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/Scheduler/v18/Browse.VC.db
/.vs/Scheduler/v18/Browse.VC.db-shm
/.vs/Scheduler/v18/HierarchyCache.v1.txt
/.vs/Scheduler/v18/Solution.VC.db
/.vs/Scheduler/v18/Solution.VC.db-shm
/.vs/Scheduler/v18/ipch/AutoPCH/c60edc432e602f98/SCHEDULERTEST21.ipch
/.vs/Scheduler/v18/ipch/AutoPCH/2d05b6e5d5edae61/SCHEDULER.ipch
/.vs/Scheduler/FileContentIndex/99a175ce-cb2b-4364-b080-a6e6ea4a1d8b.vsidx
/Processes1.h
/Scheduler1.c
/.vs/Scheduler/FileContentIndex/64a0630e-b8ef-4efd-9326-76f0d9f7b2bf.vsidx
/.vs/Scheduler/v18/Browse.VC.db-wal
/.vs/Scheduler/FileContentIndex/7b094f75-a808-43dd-9aaf-787780b0e516.vsidx
/.vs/Scheduler/v18/ipch/AutoPCH/b3de35e0188a0320/SCHEDULERTEST00.ipch
/.vs/Scheduler/v18/.suo
/.vs/Scheduler/v18/DocumentLayout.backup.json
/.vs/Scheduler/v18/DocumentLayout.json
/.vs/Scheduler/v18/Browse.VC.opendb
/.vs/Scheduler/v18/Solution.VC.db-wal
/.vs/Scheduler/FileContentIndex
/.vs/Scheduler/v18/.suo
/.vs/Scheduler/v18/Browse.VC.opendb
/.vs/Scheduler/v18/DocumentLayout.backup.json
/.vs/Scheduler/v18/DocumentLayout.json
/.vs/Scheduler/v18/Solution.VC.db-wal
/Include/Scheduler.h
/.vs/Scheduler/v18/ipch/AutoPCH
